* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    max-width: 1020px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 940px;
    margin: auto;
}

.layout-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 29px 0 35px;
    background: #2D303A;
    border-bottom: 6px solid #323746;
}

.logo a{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.03rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.logo-star {
    color: #F06C64;
}

.header__list li {
    margin-right: 30px;
}

.header__list li:last-child {
    margin: 0;
}

.header__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.03rem;
    color: white;
    text-transform: uppercase;
}

.header__link:hover {
    color: #F06C64;
}

.slider {
    padding: 54px 0 57px;
    background: #F06C64;
    border-bottom: 6px solid #EA676B;
}

.slider__arrow {
    background: url("assets/icons/arrow.svg");
    width: 16px;
    height: 27px;
}

.slider__arrow:hover {
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.services {
    padding: 59px 0 26px;
    background: #F2F2F2;
    border-bottom: 6px solid #fff;
}

.services__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #666D89;
    margin-bottom: 18px;
}

.services__description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #767E9E;
    margin-bottom: 60px;
}

.services__block {
    flex-wrap: wrap;
}

.services__item {
    max-width: 30%;
    display: flex;
    margin-bottom: 20px;
}

.services__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.services-icon-1 {
    background: url("assets/icons/services/services-icon-1.svg");
}
.services-icon-2 {
    background: url("assets/icons/services/services-icon-2.svg");
}
.services-icon-3 {
    background: url("assets/icons/services/services-icon-3.svg");
}
.services-icon-4 {
    background: url("assets/icons/services/services-icon-4.svg");
}
.services-icon-5 {
    background: url("assets/icons/services/services-icon-5.svg");
}
.services-icon-6 {
    background: url("assets/icons/services/services-icon-6.svg");
}

.services__content {
    max-width: 220px;
    padding-left: 20px;
}

.services__subtitle {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666D89;
    margin-bottom: 7px;
}

.services__text {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: #767E9E;
}

.portfolio {
    padding: 59px 0 68px;
    background: #2D303A;
    border-bottom: 6px solid#323746;
}

.portfolio__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #666D89;
    margin-bottom: 18px;
}

.portfolio__description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #767E9E;
    margin-bottom: 14px;
}

.portfolio__tags {
    margin-bottom: 18px;
}

.tags {
    justify-content: start;
}

.tag {
    padding: 4px;
    border: 1px solid#767E9E;
    border-radius: 5px;

    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #767E9E;
}

.tag:hover {
    cursor: pointer;
    border: 1px solid#BBBBBB;
    color: #BBBBBB;
}

.tags__item {
    margin-right: 10px;
}

.tags__item:last-child {
    margin-right: 0;
}

.portfolio__block {
    flex-wrap: wrap;
}

.portfolio__picture {
    max-width: 25%;
    margin-bottom: 20px;
}

.portfolio__picture:hover {
    max-width: 23%;
    cursor: pointer;
    border: 5px solid #767E9E;
}

.about-us {
    padding: 59px 0 68px;
    background: #F2F2F2;
    border-bottom: 6px solid #FFFFFF;
}

.about-us__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #666D89;
    margin-bottom: 18px;
}

.about-us__description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #767E9E;
    margin-bottom: 55px;
    letter-spacing: 0.02rem;
}

.about-us__block {
    flex-wrap: wrap;
}

.about-us__item {
    max-width: 305px;
}

.about-us__photo {
    margin-bottom: 17px;
}

.about-us__name {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666D89;
    margin-bottom: 7px;
}

.about-us__text {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: #767E9E;
    letter-spacing: 0.02rem;
    overflow: hidden;
    margin-bottom: 14px;
}

.about-us__socials {
    justify-content: start;
}

.social {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 8px;
}

.social:last-child {
    margin-right: 0;
}

.social-facebook {
    background: url("assets/icons/socials/facebook.svg");
}
.social-google {
    background: url("assets/icons/socials/google-plus.svg");
}
.social-twitter {
    background: url("assets/icons/socials/twitter.svg");
}
.social-linkedin {
    background: url("assets/icons/socials/linkedin.svg");
}

.get-a-quote {
    padding: 59px 0;
    background: #F06C64;
    border-bottom: 6px solid #EA676B;
}

.get-a-quote__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #F0D8D9;
    margin-bottom: 18px;
}

.get-a-quote__description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #F0D8D9;
    margin-bottom: 55px;
}

.get-a-quote__block {
    align-items: start;
}

.get-a-quote__form {
    width: 66%;
}

.get-a-quote__contact {
    width: 32%;
}

.get-a-quote__input {
    display: block;
    width: 620px;
    height: 38px;
    margin-bottom: 16px;
    padding-left: 14px;
    background: #D6564F;
    border-radius: 5px;
}

.get-a-quote__input::placeholder, .get-a-quote__textarea::placeholder {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #F48C8F;
}

.get-a-quote__textarea {
    display: block;
    width: 620px;
    height: 159px;
    background: #D6564F;
    border-radius: 5px;
    margin-bottom: 16px;
    padding-left: 14px;
    padding-top: 10px;
}

.get-a-quote__button {
    width: 136px;
    height: 38px;
    background: #FBC65F;
    border-radius: 5px;
    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886A30;
    text-transform: uppercase;
}

.get-a-quote__button:hover {
    cursor: pointer;
    background: #f3b73d;
}

.get-a-quote__subtitle {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #F0D8D9;
    margin-bottom: 7px;
}

.get-a-quote__text {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: #F0D8D9;
    margin-bottom: 22px;
}

.get-a-quote__info {
    display: flex;
    flex-direction: column;
}

.get-a-quote__address::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url("assets/icons/get-a-quote/location.svg") no-repeat;
    padding-left: 13px;
    text-align: center;
}

.get-a-quote__phone::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("assets/icons/get-a-quote/phone.svg") no-repeat;
    padding-left: 10px;
    text-align: center;
}

.get-a-quote__mail::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 9px;
    background: url("assets/icons/get-a-quote/mail.svg") no-repeat;
    padding-left: 9px;
    text-align: center;
}

.get-a-quote__link {
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: #F0D8D9;
}

.get-a-quote__link:hover {
    color: rgb(190, 174, 175)
}

.footer {
    padding: 22px 0;
    background: #2D303A;
}

.footer__copyright {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #666D89;
}